<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<div th:replace="~{fragment :: meta}"></div>

	<div th:replace="~{fragment :: styles}"></div>

	<title>NAGOYAMESHI</title>
</head>

<body>
	<div class="nagoyameshi-wrapper">
		<!-- ヘッダー -->
		<div th:replace="~{fragment :: header}"></div>

		<main>
			<div class="container pt-4 pb-5 nagoyameshi-container">
				<div th:if="${param.loggedIn}" class="alert alert-info">
					ログインしました。
				</div>

				<div th:if="${param.loggedOut}" class="alert alert-info">
					ログアウトしました。
				</div>
				<div th:if="${successMessage}" class="alert alert-info">
					<span th:text="${successMessage}"></span>
				</div>

				<div class="d-flex justify-content-center">
					<form method="get" th:action="@{/shops}" class="mb-5 nagoyameshi-search-form">
						<div class="input-group">
							<input type="text" class="form-control" name="keyword" th:value="${keyword}"
								placeholder="店舗名・カテゴリー">
							<button type="submit" class="btn text-white shadow-sm nagoyameshi-btn">検索</button>
						</div>
					</form>
				</div>

				<h2 class="text-center mb-3">新着</h2>
				<div class="row row-cols-lg-5 row-cols-2 g-3 mb-5">
					<div class="col" th:each="newShop : ${newShops}">
						<a th:href="@{/shops/__${newShop.getId()}__}" class="link-dark nagoyameshi-card-link">
							<div class="card h-100">
								<img th:if="${newShop.getImageName()}"
									th:src="@{/storage/__${newShop.getImageName()}__}"
									class="card-img-top nagoyameshi-vertical-card-image" alt="店舗画像">
								<img th:unless="${newShop.getImageName()}" th:src="@{/images/No_image.jpg}"
									class="card-img-top nagoyameshi-vertical-card-image" alt="NO IMAGE">
								<div class="card-body">
									<h3 class="card-title" th:text="${newShop.getName()}"></h3>
									<p class="card-text mb-1">
										<small class="text-muted" th:text="${newShop.getAddress()}"></small>
									</p>
									
								</div>
							</div>
						</a>
					</div>
				</div>

				<h2 class="text-center mb-3">カテゴリーから探す</h2>

				<a th:href="@{/shops(category='手羽先')}" class="btn btn-outline-secondary btn-sm me-1 mb-2">手羽先</a>
				<a th:href="@{/shops(category='味噌カツ')}" class=" btn btn-outline-secondary btn-sm me-1 mb-2">味噌カツ</a>
				<a th:href="@{/shops(category='ひつまぶし')}" class=" btn btn-outline-secondary btn-sm me-1 mb-2">ひつまぶし</a>
				<a th:href="@{/shops(category='きしめん')}" class=" btn btn-outline-secondary btn-sm me-1 mb-2">きしめん</a>
				<a th:href="@{/shops(category='台湾ラーメン')}" class=" btn btn-outline-secondary btn-sm me-1 mb-2">台湾ラーメン</a>
				<a th:href="@{/shops(category='あんかけスパゲッティ')}"
					class=" btn btn-outline-secondary btn-sm me-1 mb-2">あんかけスパゲッティ</a>
				<a th:href="@{/shops(category='小倉トースト')}" class=" btn btn-outline-secondary btn-sm me-1 mb-2">小倉トースト</a>
				<a th:href="@{/shops(category='エビフライ')}" class=" btn btn-outline-secondary btn-sm me-1 mb-2">エビフライ</a>
				<a th:href="@{/shops(category='どて煮')}" class=" btn btn-outline-secondary btn-sm me-1 mb-2">どて煮</a>
				<a th:href="@{/shops(category='天むす')}" class=" btn btn-outline-secondary btn-sm me-1 mb-2">天むす</a>
				<a th:href="@{/shops(category='和食')}" class=" btn btn-outline-secondary btn-sm me-1 mb-2">和食</a>
				<a th:href="@{/shops(category='海鮮')}" class=" btn btn-outline-secondary btn-sm me-1 mb-2">海鮮</a>
				<a th:href="@{/shops(category='うなぎ・あなご')}"
					class=" btn btn-outline-secondary btn-sm me-1 mb-2">うなぎ・あなご</a>
				<a th:href="@{/shops(category='天ぷら')}" class=" btn btn-outline-secondary btn-sm me-1 mb-2">天ぷら</a>
				<a th:href="@{/shops(category='とんかつ・揚げ物')}"
					class=" btn btn-outline-secondary btn-sm me-1 mb-2">とんかつ・揚げ物</a>
				<a th:href="@{/shops(category='焼き鳥・串焼・鳥料理')}"
					class=" btn btn-outline-secondary btn-sm me-1mb-2">焼き鳥・串焼・鳥料理</a>
				<a th:href="@{/shops(category='すき焼き')}" class=" btn btn-outline-secondary btn-sm me-1 mb-2">すき焼き</a>
				<a th:href="@{/shops(category='しゃぶしゃぶ')}" class=" btn btn-outline-secondary btn-sm me-1 mb-2">しゃぶしゃぶ</a>
				<a th:href="@{/shops(category='そば')}" class=" btn btn-outline-secondary btn-sm me-1 mb-2">そば</a>
				<a th:href="@{/shops(category='うどん')}" class=" btn btn-outline-secondary btn-sm me-1 mb-2">うどん</a>
				<a th:href="@{/shops(category='麺類')}" class=" btn btn-outline-secondary btn-sm me-1 mb-2">麺類</a>
				<a th:href="@{/shops(category='お好み焼き・たこ焼き')}"
					class=" btn btn-outline-secondary btn-sm me-1 mb-2">お好み焼き・たこ焼き</a>
				<a th:href="@{/shops(category='丼')}" class=" btn btn-outline-secondary btn-sm me-1 mb-2">丼</a>
				<a th:href="@{/shops(category='おでん')}" class=" btn btn-outline-secondary btn-sm me-1 mb-2">おでん</a>
				<a th:href="@{/shops(category='郷土料理')}" class=" btn btn-outline-secondary btn-sm me-1 mb-2">郷土料理</a>
				<a th:href="@{/shops(category='沖縄料理')}" class=" btn btn-outline-secondary btn-sm me-1 mb-2">沖縄料理</a>
				<a th:href="@{/shops(category='牛タン')}" class=" btn btn-outline-secondary btn-sm me-1 mb-2">牛タン</a>
				<a th:href="@{/shops(category='麦とろ')}" class=" btn btn-outline-secondary btn-sm me-1 mb-2">麦とろ</a>

			</div>
		</main>

		<!-- フッター -->
		<div th:replace="~{fragment :: footer}"></div>
	</div>

	<div th:replace="~{fragment :: scripts}"></div>
	<script type="text/javascript" src="js/script.js"></script>

</body>

</html>