<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{fragment :: meta}"></div>
    <div th:replace="~{fragment :: styles}"></div>
    <title>カテゴリ登録</title>
</head>
<body>
<div class="nagoyameshi-wrapper">
    <div th:replace="~{fragment :: header}"></div>
    <main class="container pt-4 pb-5 nagoyameshi-container">
        <nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a th:href="@{/admin/categories}">カテゴリ一覧</a></li>
                <li class="breadcrumb-item active" aria-current="page">カテゴリ登録</li>
            </ol>
        </nav>
        <h1 class="mb-4">カテゴリ登録</h1>
        <form method="post" th:action="@{/admin/categories/register}" th:object="${categoryForm}">
            <div class="form-group mb-3">
                <label for="name" class="form-label fw-bold">カテゴリ名</label>
                <input type="text" class="form-control" id="name" th:field="*{name}" th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}">
                <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback" th:errors="*{name}"></div>
            </div>
            <button type="submit" class="btn nagoyameshi-btn text-white shadow-sm">登録</button>
        </form>
    </main>
    <div th:replace="~{fragment :: footer}"></div>
</div>
<div th:replace="~{fragment :: scripts}"></div>
</body>
</html>